body{
  text-align: center;
}
.rule_debug div{
  min-height: 80px;
  border: 1px solid black;
}

.rule_debug .box{
  height: 200px;
  width: 50%;
  margin: 20px auto;
}

.box.jumbotron_nb{
  width: 50%;
  margin: 20px auto;
}
